.detail { 
    width: 100vw;
    position: relative;
    
    &_container {
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        min-height: 100vh;
        padding: 8rem;
    }
    
    &_item {
        width: 50vw !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    
    &_img {
        padding: 2.5rem;
        width: 100%;
        height: 80%;
        // border: 5px solid $grey;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
    
    &_links {
        padding-bottom: 1rem;
    }
    
    &_info {
        width: 50vw;
        padding: 2.5rem;


        & h2{
            padding-bottom: 2rem;
        }

        & p{
            padding-bottom: 2rem;
        }
        
        & h3{
            padding-bottom: 2rem;
            font-weight: 300;
        }


    }
}