.hero {
    position: relative;

    &_img {
        background-image:  
            url(../../static/img/pexels-2.jpeg);
    
        min-height: 750px;
        width: 100vw; 
        height: 90vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &_cap {
        color: $white;
        position: absolute;
        top: 40rem;
        right: 18rem;
        font-weight: 900;
    }
}
