//colors
$grey: #999;
$grey-l: #777;
$grey-d: #333;

$white: #fff;
$offwhite: #f8f8ff;
$offwhite2: #f5f5fc;
$black: #000;
$red: rgb(133, 37, 37);

//font
$default-font-size: 1.6rem;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;